anaconda-project
astropy
autopep8
bcrypt
boltons
bottleneck
brotlipy
colorama
conda-build
conda-repo-cli
conda-token
conda-verify
cytoolz
datashader
distributed
flake8
flask-cors
flit-core
gensim
gmpy2
h5py
hvplot
imagecodecs
imbalanced-learn
intake
jsonpatch
jupyter
jupyterlab
lz4
mock
munkres
navigator-updater
nltk
openpyxl
pep8
pip-chill
plotly
pooch
pycurl
pydocstyle
pyhamcrest
pyjwt
pyodbc
pyqt5-sip
pysocks
pytest
python-snappy
rope
ruamel-yaml-conda
scikit-image
scrapy
seaborn
sip
sklearn
spyder
sqlalchemy
statsmodels
sympy
tables
tabulate
tbb
torch
transformers
unidecode
whatthepatch
xlwings
yapf
youtube-transcript-api
